/* Reset de estilos padrão do navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #12161E;
    color: #CCA571;
    text-align: center;
    padding: 20px 0;
}

#logo img {
    max-width: 200px; /* Ajuste o tamanho do logotipo conforme necessário */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #CCA571;
}
/* Estilos para a classe "marcar-horario" */
.marcar-horario {
    color: #12161E;
    background-color: #CCA571;
}


/* Estilos para as seções e conteúdo do site */
.section {
    margin-top: 20px;
    padding: 20px;
}

/* Estilos para links */
a {
    color: #CCA571;
}

a:hover {
    text-decoration: underline;
}

/*===============================================================================================*/ 

/* Estilos para a seção HOME */
#home {
    background-color: #F4F5EF;
    color: #12161E;
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar verticalmente e horizontalmente */
    min-height: 100vh; /* A seção ocupará a altura total da tela */
    padding: 40px;
}


/* Estilos para as colunas esquerda e direita */
.column {
    flex: 1;
    padding: 20px;
}

/* Estilos para o botão "Marcar um horário" dentro da seção HOME */
.marcar-horario {
    background-color: #CCA571;
    color: #12161E;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.marcar-horario:hover {
    background-color: #0056b3;
}

/* Estilos para a imagem na coluna direita */
.column.right img {
    max-width: 100%; /* A imagem terá no máximo 100% da largura da coluna */
    height: auto; /* A altura será ajustada automaticamente */
}

/*===============================================================================================*/

/* Estilos para a seção "Áreas de Atuação" */
#areas-de-atuacao {
    background-color: #12161E;
    padding: 20px;
    height: 100vh; /* Altura igual à altura da tela do usuário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #CCA571;
}

/* Estilos para os cards de área de atuação */
.area-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Largura máxima dos cards */
    border: 5px #CCA571;
    
}

.area-card {
    flex: 1;
    padding: 20px;
    background-color: #12161E;
    color: #CCA571;
    border-radius: 5px #CCA571;
    margin: 10px;
    text-align: center;
    padding: 20px; /* Espaçamento interno do cartão */
    border: 2px solid #CCA571; /* Borda do cartão */
    border-radius: 5px; /* Borda arredondada do cartão */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra do cartão */
    font-size: 30px;
}

/* Estilos para os títulos dos cards */
.area-card h3 {
    font-size: 25px;
}

/* Estilos para o texto dos cards */
.area-card p {
    font-size: 18px;
}


/*===============================================================================================*/

/* Estilos para a seção de avaliações */
#avaliacao {
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da janela de visualização */
    background-color: #F4F5EF; /* Cor de fundo da seção */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
}


#avaliacao h2 {
    color: #CCA571;;
}

/* Estilos para os cards de avaliação */
.testimonial-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: inline-block;
    max-width: 300px; /* Tamanho máximo do card */
}

.testimonial-card img {
    max-width: 100%;
    border-radius: 50%; /* Para uma foto de perfil redonda */
}

.client-name {
    font-weight: bold;
    margin-top: 10px;
}

.testimonial {
    margin-top: 10px;
}

/* Responsividade para os cards de avaliação */
@media (max-width: 768px) {
    .testimonial-card {
        max-width: 100%; /* Cards ocupam a largura total em telas pequenas */
    }
}

/*===============================================================================================*/

/* Estilos para a seção de formulário e informações de contato */
.formulario {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ajustado para esticar ambos os lados verticalmente */
    margin-top: 20px;
    background-color: #CCA571; /* Cor de fundo para a seção */
    height: 100%;
    color: #12161E;
}

.formulario-container,
.informacoes-contato {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #CCA571;
    
}

/* Estilos para o lado do formulário */
.formulario-container {
    position: relative;
    background-color: #CCA571; /* Cor de fundo para o formulário */
    width: 90%;
    height: 100%;
}

/* Estilos para o lado das informações de contato */
.informacoes-contato {
    margin: 10px 0; /* Espaçamento entre os parágrafos */
    display: block; /* Alinha ícone e texto horizontalmente */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    background-color: #12161E;
    color: #CCA571;
}
.informacoes-contato h2 {
    color: #CCA571;
    text-align: center;
}

.informacoes-contato p {
    position: relative;
    margin: 10px 0; /* Espaçamento entre os parágrafos */
    align-items: center; /* Centraliza o texto verticalmente */
    text-align: center;
    top: 20%;
}

.informacoes-contato strong {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}


/* Estilos para os ícones Font Awesome */
i {
    margin-right: 10px;
    font-size: 20px;
}

/* Estilos para o formulário e campos do formulário */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #12161E;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/*===============================================================================================*/

/* Estilos para o footer */
footer {
    background-color: #12161E;
    color: #CCA571;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-info, .social-media {
    flex: 1;
}

.contact-info h3, .social-media h3 {
    color: #CCA571;
}

.social-media a {
    margin-right: 10px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}
