/* Estilos específicos para a página de blog */
body {
    background-color: #2e0000;
    color: white;
}
.blog-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.content-desktop {
    display: flex;
    flex-direction: row;
}

.content-desktop img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.content-mobile img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    /* Estilos específicos para dispositivos móveis */
    .content-desktop {
        flex-direction: column;
    }
}