/* <footer><div><p>Atendimento via:</p><p>Presencial e Online (Whatsapp)</p><p><a href="https://api.whatsapp.com/send?phone=554497396256&text=Como%20posso%20lhe%20ajudar%3F">Clique no Whatsapp <i class="fa-brands fa-whatsapp" style="color: #00ff04;"></i></a></p></div><div><p>Todos os direitos reservados &copy;
2023</p></div><div><p>&reg;
Desenvolvido por João Guilherme</p></div></footer> */

footer {
    justify-content: space-around;
    background-color: #2e0000;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

footer p {
    margin: 5px 0;
}